.banner{
    background-color: fuchsia;
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
}

.banner-text{


    top: 20%;
    left: 50%;
    justify-content: center;
    position: absolute;
    transform: transform;
}